header, main {
    margin-left: 300px;
    padding-left: 10px;
    position: relative;
}

header {
    line-height: 10px;
    padding: 20px;
    text-align: right;
}

.button-collapse {
    display: none;
}

.side-nav {
    padding-top: 20px;
}

.side-nav a.active {
    background-color: rgba(0,0,0,0.04);
}

@media only screen and (max-width : 992px) {
    header, main {
        margin-left: 0;
        padding-left: 10px;
    }

    .button-collapse {
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 11px;
        color: #fff;
    }
    
}