<div class="row">
    <h4>Login:</h4>
</div>

<div class="row">
    <form name="login_form" class="col s12">

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email">
                <label for="email">Email</label>
            </div>
        </div>
        
        <button class="btn primary" type="submit">Save</button>
    </form>
</div>